# Imports of libraries

In [28]:
import pandas as pd
import re
import string
# from textblob import TextBlob

# Get data

In [29]:
true_data = pd.read_csv("data/basic/political_and_news/True.csv")
fake_data = pd.read_csv("data/basic/political_and_news/Fake.csv")

In [30]:
true_data.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [31]:
fake_data.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

# Merge data

In [32]:
true_data["outcome"] = 1
fake_data["outcome"] = 0
dataset = pd.concat([true_data, fake_data])
dataset.shape

(44898, 5)

# Data preprocessing

## Remove title column

In [33]:
dataset = dataset.drop(["title", "subject", "date"], axis=1)

## Removing punctuations

In [34]:
def remove_punctuation(text: str) -> str:
    return "".join([i for i in text if i not in string.punctuation])

In [35]:
dataset["text"] = dataset["text"].apply(lambda row: remove_punctuation(row))
dataset.head()

                                                text  outcome
0  WASHINGTON Reuters  The head of a conservative...        1
1  WASHINGTON Reuters  Transgender people will be...        1
2  WASHINGTON Reuters  The special counsel invest...        1
3  WASHINGTON Reuters  Trump campaign adviser Geo...        1
4  SEATTLEWASHINGTON Reuters  President Donald Tr...        1

## Lowering the text

In [36]:
dataset["text"] = dataset["text"].apply(lambda row: row.lower())
dataset.head()

                                                text  outcome
0  washington reuters  the head of a conservative...        1
1  washington reuters  transgender people will be...        1
2  washington reuters  the special counsel invest...        1
3  washington reuters  trump campaign adviser geo...        1
4  seattlewashington reuters  president donald tr...        1

## Tokenization

## Stemming

## Lemmatization

## Expanding Abbreviations

In [37]:
def remove_abbreviations(data):
    data = re.sub(r"he's", "he is", data)
    data = re.sub(r"there's", "there is", data)
    data = re.sub(r"We're", "We are", data)
    data = re.sub(r"That's", "That is", data)
    data = re.sub(r"won't", "will not", data)
    data = re.sub(r"they're", "they are", data)
    data = re.sub(r"Can't", "Cannot", data)
    data = re.sub(r"wasn't", "was not", data)
    data = re.sub(r"don't", "do not", data)
    data= re.sub(r"aren't", "are not", data)
    data = re.sub(r"isn't", "is not", data)
    data = re.sub(r"What's", "What is", data)
    data = re.sub(r"haven't", "have not", data)
    data = re.sub(r"hasn't", "has not", data)
    data = re.sub(r"There's", "There is", data)
    data = re.sub(r"He's", "He is", data)
    data = re.sub(r"It's", "It is", data)
    data = re.sub(r"You're", "You are", data)
    data = re.sub(r"I'M", "I am", data)
    data = re.sub(r"shouldn't", "should not", data)
    data = re.sub(r"wouldn't", "would not", data)
    data = re.sub(r"i'm", "I am", data)
    data = re.sub(r"I'm", "I am", data)
    data = re.sub(r"I'm", "I am", data)
    data = re.sub(r"Isn't", "is not", data)
    data = re.sub(r"Here's", "Here is", data)
    data = re.sub(r"you've", "you have", data)
    data = re.sub(r"you've", "you have", data)
    data = re.sub(r"we're", "we are", data)
    data = re.sub(r"what's", "what is", data)
    data = re.sub(r"couldn't", "could not", data)
    data = re.sub(r"we've", "we have", data)
    data = re.sub(r"it's", "it is", data)
    data = re.sub(r"doesn't", "does not", data)
    data = re.sub(r"It's", "It is", data)
    data = re.sub(r"Here's", "Here is", data)
    data = re.sub(r"who's", "who is", data)
    data = re.sub(r"I've", "I have", data)
    data = re.sub(r"y'all", "you all", data)
    data = re.sub(r"can't", "cannot", data)
    data = re.sub(r"would've", "would have", data)
    data = re.sub(r"it'll", "it will", data)
    data = re.sub(r"we'll", "we will", data)
    data = re.sub(r"wouldn't", "would not", data)
    data = re.sub(r"We've", "We have", data)
    data = re.sub(r"he'll", "he will", data)
    data = re.sub(r"Y'all", "You all", data)
    data = re.sub(r"Weren't", "Were not", data)
    data = re.sub(r"Didn't", "Did not", data)
    data = re.sub(r"they'll", "they will", data)
    data = re.sub(r"they'd", "they would", data)
    data = re.sub(r"DON'T", "DO NOT", data)
    data = re.sub(r"That's", "That is", data)
    data = re.sub(r"they've", "they have", data)
    data = re.sub(r"i'd", "I would", data)
    data = re.sub(r"should've", "should have", data)
    data = re.sub(r"You're", "You are", data)
    data = re.sub(r"where's", "where is", data)
    data = re.sub(r"Don't", "Do not", data)
    data = re.sub(r"we'd", "we would", data)
    data = re.sub(r"i'll", "I will", data)
    data = re.sub(r"weren't", "were not", data)
    data = re.sub(r"They're", "They are", data)
    data = re.sub(r"Can't", "Cannot", data)
    data = re.sub(r"you'll", "you will", data)
    data = re.sub(r"I'd", "I would", data)
    data = re.sub(r"let's", "let us", data)
    data = re.sub(r"it's", "it is", data)
    data = re.sub(r"can't", "cannot", data)
    data = re.sub(r"don't", "do not", data)
    data = re.sub(r"you're", "you are", data)
    data = re.sub(r"i've", "I have", data)
    data = re.sub(r"that's", "that is", data)
    data = re.sub(r"i'll", "I will", data)
    data = re.sub(r"doesn't", "does not",data)
    data = re.sub(r"i'd", "I would", data)
    data = re.sub(r"didn't", "did not", data)
    data = re.sub(r"ain't", "am not", data)
    data = re.sub(r"you'll", "you will", data)
    data = re.sub(r"I've", "I have", data)
    data = re.sub(r"Don't", "do not", data)
    data = re.sub(r"I'll", "I will", data)
    data = re.sub(r"I'd", "I would", data)
    data = re.sub(r"Let's", "Let us", data)
    data = re.sub(r"you'd", "You would", data)
    data = re.sub(r"It's", "It is", data)
    data = re.sub(r"Ain't", "am not", data)
    data = re.sub(r"Haven't", "Have not", data)
    data = re.sub(r"Could've", "Could have", data)
    data = re.sub(r"youve", "you have", data)
    data = re.sub(r"donå«t", "do not", data)

dataset["text"] = dataset["text"].apply(lambda row: remove_abbreviations(row))
dataset.head()

   text  outcome
0  None        1
1  None        1
2  None        1
3  None        1
4  None        1

## Sentiment analysis